body {background-color: #f1f5f7;color: #000000;}
h1,h2 {background-color:#011f4b ; color: #f1f5f7;}
h3 {size: 5em;}

a {color:#12420f;}
a:visited {color: #f7f7e6;} 
a:hover {background-color: #327624;}
p:hover {background-color: #c5e9ff;}
nav {background-color:#011f4b;}
nav a {color:#99a9ac}
nav a:hover {background-color:#9898a5}
.box {background-color: #294a6b;
    border-width: 2px;
    border-style: solid;
    border-color: #011f4b;
    padding: 10px;
    margin-bottom: 30px;
}

.quote {float: right;}
.clearfloat {clear: both;}
.imgport {float:left;
        margin: 10px 30px 30px 0px;
        max-width: 100%;
    }

.linkedin-icon {float:left}

.box1, .box2 {
            background-color: #eaeaea; 
            border-radius: 10px; 
            padding: 20px; 
            margin-bottom: 30px; 
        }

.box1, .box2 {
    display: flex;
    flex-wrap: wrap; 
}

.addressbox, .emailbox {
    flex: 1;
}

.formbox {flex-wrap: wrap;}


.formbox, .mapbox {
        flex: 1; 
    }

.special {  
        width: 90%;
        margin: 0 auto 0 auto; 
        padding: 1em;
        text-align: center;
        }

div {display:flex}

aside {
    background-color:#294a6b;
    color: #FFFFFF;
    border-radius: 20px; 
    flex: 1;
    padding: 20px;
    }


.flexbox2 {
    display: flex;
    justify-content: space-between;
    padding: 20px; 
}

.skills {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 3; 
    margin: 4em;
}

.skills div {
    display: inline-block;
    text-align: center;
    width: 120px;
}

@media only screen and (max-width: 800px){
    nav a {display:block; padding: 5px;}
    nav span {display: none;}
}

