body {background-color: #f1f5f7;color: #000000;}
h1,h2 {background-color:#011f4b ; color: #f1f5f7;}

a {color:#12420f;}
a:visited {color: #f7f7e6;} 
a:hover {background-color: #327624;}
p:hover {background-color: #c5e9ff;}
nav {background-color:#011f4b;}
nav a {color:#99a9ac}
nav a:hover {background-color:#9898a5}
.box {background-color: #294a6b;
    border-width: 2px;
    border-style: solid;
    border-color: #011f4b;
    padding: 10px;
    margin-bottom: 30px;
}
